.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.app-bg {
  width: 100%;
  height: 40vh;
}

.middle {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
